/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

body>section {
    margin-top: 100px;
}

section img {
    height: 200px;
}

hr {
    margin: 1% 0 5%;
}


/* Text Rules */

h2 {
    margin-bottom: 2%;
}

h3 {
    margin: 4% 0;
}


/* How it work */

#how-it-work {
    background-color: #F9F9F9;
}


/* Why cademi */

#why-cademi {
    background-color: #F9F9F9;
}

.box {
    padding: 0 20px;
}

.blue-rounded {
    display: inline-block;
    padding: 10%;
    border-radius: 50%;
    background-color: #428BCA;
}